*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Serif', serif;
}
/* menu top */
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(49, 49, 105);
}
p{
    color: rgb(49, 49, 105);
}
/* end menu top */
.container{
    max-width: 1200px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 200px;
}
.col-2 img{
    max-width: 100%;
    padding: 10px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color: wheat;
}
/* button decoration */
.btn{
    display: inline-block;
    background: rgb(49, 49, 105);
    color: wheat;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background 0.5s;
}

.btn:hover{
    background-color: blueviolet;
}
/* button decoration */
.header{
     /* background: radial-gradient(rgb(221, 130, 146), rgb(93, 99, 128));  */
     background: radial-gradient(rgb(172, 180, 194), rgb(67, 67, 117));
}
.header .row{
    margin-top: 70px;
}

/*featured categories  */

.categories{
    margin: 70px 0;
}

.col3{
    flex-basis: 20%;
    min-width: 250px;
    margin: 30px;
}

.col3 img{
    width: 100%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/*End featured categories  */
/* feartured products */

.col4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col4 img{
    width: 100%;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: rgb(49, 49, 105);
}

.title::after{
    content: '';
    background:rgb(49, 49, 105);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

h4{
    color: rgb(49, 49, 105);
    font-weight: normal;
}

.col4 p{
    font-size: 14px;
    color: rgb(49, 49, 105);
}

.rating{
    color:rgb(176, 176, 214) ;
}

.col4:hover{
    transform: translateY(-5px);
}
/* end feartured products */

/* offer */
.offer{
    background: radial-gradient(rgb(172, 180, 194), rgb(177, 177, 189));
    margin-top: 80px;
    padding: 30px 0;
}

.col-2 .offer-img{
    padding: 50px;
}

small{
    color: rgb(49, 49, 105);
}

.col-2 h1, p {
    color: rgb(49, 49, 105);
}

/* end offer */

/* testimonial */

.testimonial{
    padding-top: 100px;
}

.testimonial .col3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}

.testimonial .col3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col3:hover{
    transform: translateY(-10px);
}

.fa-quote-left{
    font-size: 34px;
    color: rgb(49, 49, 105);
}

.col3 p{
    font-size: 12px;
    margin: 12px 0;
    color: rgb(49, 49, 105);
}

.testimonial .col3 h3{
    font-weight: 600;
    color: rgb(49, 49, 105);
    font-size: 16px;
}
/* end testimonial */

/* brands */
.brands{
    margin: 100px auto;
}

.col5{
    width: 160px;
}

.col5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}

.col5 img:hover{
    filter: grayscale(0);
}
/* end brands */

/* footer */

.footer{
    background: rgb(32, 32, 43);
    color: rgb(201, 201, 219);
    font-size: 14px;
    padding: 20px 0 20px;
}

.footer p{
    color: rgb(201, 201, 219);
}

.footer h3{
    color: rgb(201, 201, 219);
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 200px;
    margin-bottom: 20px;
}

.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    font-size: 12px;
}

.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background-color: antiquewhite;
    height: 1px;
    margin: 5px 0;
}

.copyright{
    text-align: center;
}
/* end footer */

/* menu icon */

.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
/* end menu icon */

/* single product details */

.single-product{
    margin-top: 80px;
}

.single-product .col-2 img{
   padding: 0;
}

.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px; 
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid rgb(32, 32, 43);
}

input:focus{
    outline: none;
}

.single-product .fa{
    color: red;
    margin-left: 10px;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}
/* end single product details */

/* cart items detail */

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align: left;
    padding: 5px;
    color: rgb(32, 32, 43);
    background: rgb(201, 201, 219);
    font-weight: normal;
}

td{
    padding: 10px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: red;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 5px solid rgb(201, 201, 219);
    width: 100%;
    max-width: 400px;
}

td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}
/* end cart items detail */

/* account page */

.account-page{
    padding: 50px 0;
    background: radial-gradient(rgb(172, 180, 194), rgb(65, 65, 94));
}

.form-container{
   background: white;
   width: 300px;
   height: 400px;
   position: relative;
   text-align: center;
   padding: 20px 0;
   margin: auto;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: rgb(32, 32, 43);
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
    
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid rgb(32, 32, 43);
}

form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}

form .btn:focus{
    outline: none;
}

#LoginForm{
    left: -300px;
}

#RegForm{
    left: 0;
}

form a{
    font-size: 12px;
}

#Indicator{
    width: 100px;
    border: none;
    background: rgb(32, 32, 43);
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
/* end account page */

/* media query for menu */

@media only screen and (max-width: 800px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: rgb(32, 32, 43);
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }

    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a{
        color: rgb(201, 201, 219);
    }

    .menu-icon{
        display: block;
        cursor: pointer;
    }
}
/* media query for menu */

/* all products page */
.row-2{
     justify-content: space-between;
     margin: 100px auto 50px;
}

select{
    border: 1px solid darkred;
    padding: 5px;
}

select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid rgb(49, 49, 105);
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.page-btn span:hover{
    background: rgb(49, 49, 105);
    color: white;
}
/* end all products page */







/* media query for less than 600 screen size  */

@media only screen and (max-width: 600px){
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
         text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 30px;
    }
    .cart-info p{
        display: none;
    }
}
/* end media query for less than 600 screen size  */